* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato, sans-serif;
    background-image: url('../Photos/background-img.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.05);
    background-blend-mode: multiply;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.nav-left {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 3em;
}

nav h2 {
    margin-left: 5px;
    font-size: 1.5rem;
    color: black;
}

.links-div {
    display: flex;
    gap: 20px;
}

.links-div a {
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: 500;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.links-div a:hover {
    color: #FE8901;
}

main {
    display: flex;
    flex-direction: column;
}

section {
    min-height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    scroll-margin-top: 60px;
}

.home-center {
    text-align: center;
    padding: 50px;
}

.home-center h1 {
    font-weight: 700;
    font-size: 3em;
    margin-bottom: 1em;
    letter-spacing: 0.04em;
}

.home-center p {
    max-width: 400px;
    word-wrap: break-word;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}

button.main-projects-btn {
    padding: 12px 40px;
    background-color: #FE8901;
    border: none;
    cursor: pointer;
    z-index: 1;
    border-radius: 5px;
    font-weight: bold;
}

button.main-projects-btn:hover {
    background-color: #f6a951;
}

html {
    scroll-behavior: smooth;
}

.contact-icons {
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-40%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    border: 5px solid #FE8901;
    border-radius: 5px;
    background-color: #FFF;
    height: 14em;
    padding: 10px;
}

.contact-icons a img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease; 
}

.contact-icons a img:hover {
    transform: scale(1.1);
}
